<div class="wrapper">
	<div class="outer">
		<div class="content animated fadeInLeft">
			<span class="bg animated fadeInDown">EXCLUSIVE</span>
			<h1>Rhythm Heave</h1>
			<p>Rhythm Heaven Groove, known as Rhythm Heaven: Miracle Stars in Asia and Rhythm Paradise Groove in PAL regions, 
                is the fifth entry to the Rhythm Heaven series, released on the Nintendo Switch on July 2, 2026. 
                This game features 80 new single-player minigames and 30 multiplayer games.</p>
			
			<div class="button">
				<a href="#">$40.00</a><a class="cart-btn" href="#"><i class="cart-icon ion-bag"></i>ADD TO CART</a>
			</div>
			
		</div>
		<img src="https://static.kemikcdn.com/2026/07/454969066031200x12001.jpg" width="300px" class="animated fadeInRight">
	</div>
</div>